.bk{
    background-color: #050715;
}

.input {
  
  border: none;
  border-color: transparent;
  background: transparent;
  outline: none;
  font-size:xx-large;
  
}


.bbt {
  position: absolute;
  display: inline-block;
  margin: 15px;
  padding: 10px 25px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  background: #725AC1;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  box-shadow: inset 0 0 0 0 #725AC1;
  margin-top: 440px;
  margin-right: 630px;
}

.bbt:hover {
  color: #725AC1;
  box-shadow: inset 0 -100px 0 0 white;
}

.bbt:active {
  transform: scale(0.9);
}

.bl{
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 .bl:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .bl:hover {
  color: #fff;
 }
 
 .bl:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .bl:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .bl:active:before {
  background: #3a0ca3;
  transition: background 0s;
 }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Sawarabi+Gothic&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    
     }




/* Home section */

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 1;
  
}

.nav div.logo {
  float: left;
  width: 250px;
  height: 65px;
}
.nav{
  margin-top: -10px;
}

.logo {
  text-decoration: none;
  color: #fff;
  background-color: #3a0ca3;
  transform: rotate(90deg);
  transform-origin: left;
  margin-right: 30px !important;
  white-space: nowrap;
  padding: 10 5 0 0;

}
.aaa{
  display: inline-block; /* Necesario para aplicar transformaciones */
  transform: rotate(180deg); /* Rota el texto 180 grados */
  transform-origin: center; /* Establece el origen de la transformación en el centro */
  white-space: nowrap; 
  font-size: 29px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 3px;
  
}

.nav div.main_list {
  height: 65px;
  float: right;
  font-family: 'Avenir';
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 1rem;
}
li{
  margin-top: 40px;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 20px;
  
}

.nav div.main_list ul li a:hover {
  color:#3a0ca3 ;
}







@font-face {
  font-family: 'Avenir';
  src: local('Avenir Light'), local('Avenir-Light'),
      url('Avenir-Light.woff2') format('woff2'),
      url('Avenir-Light.woff') format('woff'),
      url('Avenir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.btnlo {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 30px;
  border: 3px solid #3a0ca3;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #3a0ca3;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  margin-top: 50px;

}


.btnlo:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #3a0ca3;
  z-index: -1;
}

.btnlo:hover, .btnlo:focus {
  color: white;
}

.btnlo:hover:before, .btnlo:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.btnlo:active {
  transform: scale(0.9);
}


/* Home section */

.home {
  width: 100%;
  height: 100vh;
  background-image: url("../Img/fondo.jpg");
  background-position: center top;
background-size:cover;
}

.navTrigger {
  display: none;
}

.nav {
  
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

h3{
  color: white;
}


  
.h1t{
  font-size: 75px;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    margin-left: 30px;
    margin-top: -30px;
    
    
}
.spann{
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-left: 30px;
  margin-top: -30px;
  
}
.h1r{
  font-size: 50px;
  font-family: "Poppins", sans-serif;
  color: white;
  margin-left: 150px;
  margin-top: 230px;
  
}
.btnr{
  background-color: #5E3AD4; 
  color: #222323; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 150px ;
}
.btnr:hover {
  background-color: #222323;
  color:#5E3AD4; 
  border: 2px solid #5E3AD4; ;
  
}

.divr{
  background-color: white;
  height: 100%;
  width: 40%;
  display: inline-block;
  margin-left: 650px;
  border-radius: 10px;
  margin-top: -30%;
  padding: 25px 15px 10px;


}
#btnsl{
  margin-left: 1200px; margin-top: 10px;
}

@media (max-width: 760px) {
  #btnsl{
    margin-left: 70%; margin-top: 10px;
  }

  .divr{
    margin-top: 40px;
    margin-left: 120px;
    width: 400px;
  }
  .form{
    margin-top: 40px !important;
    margin-left: 50px !important;
    width: 100%;
  }
  
  .btnr{
    background-color: #5E3AD4; 
    color: #222323; 
    width: 200px;
    border: none;
    cursor: pointer;
    margin-left: 200px ;
  }
  .btnr:hover {
    background-color: #222323;
    color:#5E3AD4; 
    border: 2px solid #5E3AD4; ;
    
  }
  .h1r{
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    color: white;
    margin-left: 150px;
    margin-top: 130px;
    text-align: center;
    white-space: nowrap;
    
  }
  

}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  margin-top: 5%;
  margin-left: auto; margin-top: -40%; margin-right: 110px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #5E3AD4;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #5E3AD4;
}

.message, 
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline #5E3AD4;
}

.signin a {
  color: #5E3AD4;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #5E3AD4;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  background-color: #5E3AD4;
}

.submit:hover {
  background-color: #5E3AD4;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.esp{
width: 50%;
display: inline-block;

}
.imgg{
  width: 50%;
  height: 100vh;
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}
.imgf{
  width: 100%;
  height: 100%;
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}
.line {
  width: 15px; /* Anchura de la línea */
  height: 100vh; /* Altura de la línea */
  background-color: #5E3AD4; /* Color de la línea */
  z-index: 0;
  margin-left: 50%;
  margin-top: -635px;
}
.imgtu{
  width: 50%;
  height: 100vh; /* Asegura que el contenedor tenga la altura completa de la pantalla */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: right; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  margin-left: 50%;
}
.lines {
  width: 25px; /* Anchura de la línea */
  height: 100vh; /* Altura de la línea */
  background-color: #5E3AD4; /* Color de la línea */
  z-index: 0;
  margin-left: 660px;
  margin-top: -635px;
}
/* Media qurey section */

@media (max-width: 768px) {
    .home {
        background-size:cover; 
        background-repeat: no-repeat;
        height: 100vh;

    }
}
@media (max-width: 768px) {
    
  .imgg{
    display: none;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

  .btn_in {
    position:static;
    width: 120px;
    height: 30px;
    border-radius: 7px;
    border: 1px solid #A238FF;
    font-size: 14px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .btn_in:hover {
    background: #A238FF;
    box-shadow: 0 0 30px 5px #A238FF ;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .btn_in:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .btn_in::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .btn_in:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  

  .button {
    background-color: #ffffff00;
    color: #fff;
    width: 8.5em;
    height: 2.9em;
    border: #A238FF 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
    margin-top: 30px;
    position: absolute;
    margin-left: 30px;
 }
  
  .button:hover {
    background-color: #A238FF;
    cursor: pointer;
  }
  
  .button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .button:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin: 0 1.5em
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: flex-start; 
}

.card {
    position: relative;
    width: 210px;
    height: auto;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 240px;
    height: calc(100% + 10px);
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

.card p:not(.heading) {
    font-size: 14px;
}

.card p:last-child {
    color: #e81cff;
    font-weight: 600;
}

.card:hover::after {
    filter: blur(30px);
}
.line-container {
  width: 210px;
  height: 20px;
}
.single-line {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.card1 {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.card a {
  text-decoration: none
}

.content {
  padding: 1.1rem;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  background-color: rgb(239, 205, 255);
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563EB;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}
